In [2]:
import os
import json

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Remember to install sklearn with
# pip install -U scikit-learn

import sklearn

Cleaned of building_id, manager_id, photos columns.
<br></br>
Cleaned of latitude, longitude, and price outliers.
<br></br>
<b>Use this formula for multi-class logarithmic loss:</b>
<br></br>
https://www.kaggle.com/c/two-sigma-connect-rental-listing-inquiries/overview/evaluation

In [8]:
df = pd.read_json('cleaned_train.json')

In [17]:
df_x = df.drop('interest_level',axis=1)
df_y = df['interest_level']

In [18]:
df_x['created'].to_datetime

,bathrooms,bedrooms,created,description,display_address,features,latitude,listing_id,longitude,price,street_address,interest_level,Special Characters,Numbers,StopWord,Uppercase
4,1.0,1,1466056527000,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,2400,145 Borinquen Place,medium,20,2,8,45
6,1.0,2,1464759873000,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,3800,230 East 44th,low,9,2,40,71
9,1.0,2,1465917599000,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,3495,405 East 56th Street,medium,11,2,28,62
10,1.5,3,1466754864000,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,3000,792 Metropolitan Avenue,medium,8,1,8,61
15,1.0,0,1467085823000,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2795,340 East 34th Street,low,6,1,0,36